pkgbase = omake-git
	pkgdesc = A build system designed for scalability and portability
	pkgver = 0.10.7.r2.g0707479
	pkgrel = 1
	url = https://github.com/ocaml-omake/omake
	arch = x86_64
	license = GPL-2.0-only
	makedepends = git
	makedepends = ocaml
	depends = glibc
	depends = ncurses
	depends = readline
	provides = omake
	conflicts = omake
	source = git+https://github.com/ocaml-omake/omake.git
	sha256sums = SKIP

pkgname = omake-git
